
#root {
  color: #303952;
}
body{
  min-height: 100vh;
}

.header{
  display: flex;
  justify-content: space-around;
}

h3{
  border:2px solid #192a56;
  border-radius: 1rem;
  width:89%;
  padding:1rem;
  margin-top:0;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap:2rem;
}
.card{
  width: 20rem;
  height:28rem;
  background-color:#f5f6fa ;
  display:flex;
  flex-direction: column;
  border-radius: 1rem;
  
}
.card-body{
  padding-inline: 1rem;
}

.search-bar{
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 5px;
  border-radius: .5rem;
  border: 1px solid black;
}

